services:
  - docker
os: linux
language: shell
script:
  # prepare qemu
  - docker run --rm --privileged multiarch/qemu-user-static:register --reset
  # build image
  - docker build -t s1x/shstack-knxd .
  # push image
  - >
    if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then
      docker login -u="$DOCKER_USER" -p="$DOCKER_PASS"
      docker tag malokas/shstack-knxd malokas/shstack-knxd
      docker push malokas/shstack-knxd:latest
    fi