services:
  - docker
os: linux
language: shell
jobs:
  include:
    - stage: build docker image
      script:
        # prepare qemu
        - docker run --rm --privileged multiarch/qemu-user-static:register --reset
        # push image
        - >
          if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then
            echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin
            docker build -t s1x/shstack-knxd .
            docker images
            docker tag s1x/shstack-knxd $DOCKER_USER/shstack-knxd
            docker push $DOCKER_USER/shstack-knxd
          fi
    - stage: test
      script: docker run --rm $DOCKER_USERNAME/shstack-knxd knxd --version